body {
    background-color: rgba(235, 133, 215, 0.756);
  }
  .background-animation-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow:hidden;
  }
  .background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200%;
    transform: translateX(0%);
    
    animation: backgroundtransform 50s ease infinite;
    
    /* gradient magic happens here */ 
    background: -moz-linear-gradient(-45deg,  rgba(33,165,145,0) 0%, rgba(33,165,145,0) 34%, rgba(33,165,145,1) 86%, rgba(33,165,145,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(33,165,145,0)), color-stop(34%,rgba(33,165,145,0)), color-stop(86%,rgba(33,165,145,1)), color-stop(100%,rgba(33,165,145,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(33,165,145,0) 0%,rgba(33,165,145,0) 34%,rgba(33,165,145,1) 86%,rgba(33,165,145,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(33,165,145,0) 0%,rgba(33,165,145,0) 34%,rgba(33,165,145,1) 86%,rgba(33,165,145,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(33,165,145,0) 0%,rgba(33,165,145,0) 34%,rgba(33,165,145,1) 86%,rgba(33,165,145,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(33,165,145,0) 0%,rgba(33,165,145,0) 34%,rgba(33,165,145,1) 86%,rgba(33,165,145,1) 100%); /* W3C */
  
  }
  
  @keyframes backgroundtransform { 
      0%{
        transform: translateX(0%);
      }
      50%{
        transform: translateX(-50%);
      }
      100%{
        transform: translateX(0%);
      }
  }
  