* {
    padding: 0; 
    margin: 0;  
    box-sizing: border-box; 
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 15px;
}
/* rule */
.hidden {
    display: none;
}
/* main */
/* site-header */
#site-header {
    height: 46px;
    position:relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-info-right {
    margin-right: 50px;
    font-size: 26px;
    color: #115efe;
    font-weight: 900;
    text-shadow: 3px -3px 5px #89898f;
}

/* site-content */
#site-content {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-box {
    width: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* box-shadow: -1px 18px 20px 7px #525356; */
    background-color: #31333ce3;
}

.content-box-options-item {
    padding: 12px 140.6px;
    width: 50%;
    opacity: 0.5;
    text-align: center;
    color: #115efe;
    font-weight: 600;
    background-color: rgb(152, 167, 198);
    cursor: pointer;
    transition: all 0.5s ease;
}

.content-box-options-item:hover {
    opacity: 1;
}

.content-box-options {
    background-color: rgb(166, 162, 162);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.content-box-find--image {
}


.content-box-find--text {

}
    

.content-box-input-images {
    
}

.content-box-input-text {
    margin-bottom: 12px;
    font-size: 30px;
    color: #de1051;
    font-weight: 900;
    text-shadow: 1px -1px 3px #707076;
}