.content-box-find {
    width: 100%;
    height: 9%;       
    display: flex;
    align-items: center;
    justify-content: center;       
    cursor: pointer;    
    --c: #186de2;
    background: conic-gradient(from -135deg at 100% 50%, var(--c) 90deg, #0000 0)
        0 var(--p, 0%),
    conic-gradient(from -135deg at 50px 50%, #0000 90deg, var(--c) 0) 100%
        var(--p, 0%);
    background-size: var(--s, 0%) 200%;
    background-repeat: no-repeat;
    transition: 0.4s ease-in, background-position 0s;
    background-color: #98a7c6;
    color: #115efe;
    font-weight: 800;
}    

.content-box-find:hover {
    --p: 100%;
    --s: calc(50% + 26px);
    color: #fff;     
}    

.content-box-find-hover {

}