.content-box-options-text {

}
.content-box-text-upload {

}
.content-box-options .content-box-options-line {
  left: 0;
  bottom: 0;
  width: 50%;
  height: 3px;
  background-color: #62192f;
  transition: all 0.2s ease;
  position: absolute;
}

.content-box-input {
    /* background-color: aquamarine; */
    width:100%;
    height: 84%;    
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box-dropzone-upload-image {
    border: 2px dashed #888;
    color: #888;
    text-align: center; 
    height: 60%;
    width:100%;
    font-size: 20px;
    padding: 140px 150px;   
    cursor: pointer;        
}  

.content-box-show-upload-image {
    padding: 140px 150px;   
} 
.content-box-text-upload {
    width: 425px;
    height: 54px;
    font-size: 20px;
    border-bottom-color: #263d52;
    background-color: #322d3800;
    color: #0081f3;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: border-bottom-color 0.5s ease-out;
}
/* hover input */
input:focus-visible{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom-color: #0052fa;
}

.content-box-input-image-text {
    margin-bottom: 12px;
    font-size: 18px;
    color: #de1051;
    font-weight: 900;
    text-shadow: 1px -1px 2px #4e4e4e;
}

.item-choosed-find {
    background-color: #05144a;
    opacity: 1;
    color: #fff;
}

.image-uploading {
    border: 2px solid #2185d0;
    color: #2185d0;
}

.image-dropzone-dragleave {
    
}

.content-box-image-upload {  
}

.content-box-image-show {
    width: 150px;
    height: 150px;
    vertical-align: middle;
    object-fit: cover;
}
/* input-Text */
